.currency-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 5px;
}

.currency-container:hover {
  cursor: pointer;
}

.flag-container {
  grid-column: 1 / 2;
}

.cur-acronyms {
  font-size: 18px;
  grid-column: 2 / 3;
}

.cur-name {
  max-height: 100%;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  color: var(--clr-grey-6);
  grid-column: 3 / 5;
}

.fi.fis {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: var(--light-grey-shadow);
}
